﻿<!DOCTYPE html>
<html>
<head>
    <title>CoS - @ViewData["title"]</title>
    <meta charset="utf-8" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.0/hack.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.0/dark.css" rel="stylesheet" />
    <link href="~/css/Style.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js" type="text/javascript"></script>
</head>
<body class="hack dark">
    @RenderBody()
</body>
</html>