﻿@page
@{
    ViewData["title"] = "Deck browser";
}
<div id="cah" style="margin-left: 10px;">
    <h1>Deck explorer{{ currentDeck.name ? ' - ' + currentDeck.name + ' (id ' + currentDeck.id + ')': ''}}</h1>
    <div class="grid">
        <div class="cell -2of12">
            <ul class="deck-list">
                <li v-for="deck in decks" v-on:click="selectDeck(deck.id)">
                    {{deck.name}}
                </li>
            </ul>
        </div>
        <div class="cell -10of12 card-list" v-if="currentDeck">
            <h2 v-on:click="showBlack = true" v-bind:class="{ white: showBlack }">Black cards</h2>
            <h2 v-on:click="showBlack = false" v-bind:class="{ white: !showBlack }">White cards</h2>
            <div v-if="showBlack">
                <div class="card-container black-cards">
                    <div v-for="bc in currentDeck.blackCards">
                        <div v-html="bc.text"></div>
                        <span>{{bc.pick}}</span>
                    </div>
                </div>
            </div>
            <div v-if="!showBlack">
                <div class="card-container white-cards">
                    <div v-for="wc in currentDeck.whiteCards" v-html="wc.text"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/deck-browser.js"></script>