﻿@page
@model CAH.Web.Pages.DeckBuilderModel
@{
    ViewData["title"] = "Deck builder";
}

<div id="cah" style="margin-left: 10px;">
    <h1>Deck builder - {{deck.name}}</h1>
    <div class="grid">
        <div class="cell -3of12">
            <div class="form">
                <fieldset class="form-group">
                    <label for="deck-name">Deck name</label>
                    <input id="deck-name" type="text" v-model="deck.name" class="form-control" />
                </fieldset>
                <fieldset class="form-group form-textarea" v-bind:class="{ 'form-error': whiteCardError }">
                    <label for="white-card">White card</label>
                    <textarea id="white-card" rows="5" class="form-control" v-model="currentWhiteCard"></textarea>
                </fieldset>
                <div class="form-actions">
                    <button v-on:click="addWhiteCard()" class="btn btn-default btn-ghost btn-block">Add white card</button>
                </div>
                <fieldset class="form-group form-textarea" v-bind:class="{ 'form-error': blackCardError }">
                    <label for="black-card">Black card</label>
                    <textarea id="black-card" rows="5" v-model="currentBlackCard.text" class="form-control"></textarea>
                </fieldset>
                <fieldset class="form-group" v-bind:class="{ 'form-error': blackCardError }">
                    <label for="black-card-pick">Pick</label>
                    <input id="black-card-pick" type="number" v-model="currentBlackCard.pick" class="form-control"/>
                </fieldset>
                <div class="form-actions">
                    <button v-on:click="addBlackCard()" class="btn btn-default btn-ghost btn-block">Add black card</button>
                </div>
            </div>
        </div>
        <div class="cell -9of12 card-list">
            <h2 v-on:click="tab = tabs.black" v-bind:class="{ white: tab === tabs.black }">Black cards</h2>
            <h2 v-on:click="tab = tabs.white" v-bind:class="{ white: tab === tabs.white }">White cards</h2>
            <h2 v-on:click="tab = tabs.json" v-bind:class="{ white: tab === tabs.json }">JSON</h2>
            <div v-if="tab === tabs.black">
                <div class="card-container black-cards">
                    <div v-for="bc in deck.blackCards">
                        <div v-html="addNewlines(bc.text)"></div>
                        <span>{{bc.pick}}</span>
                    </div>
                </div>
            </div>
            <div v-if="tab === tabs.white">
                <div class="card-container white-cards">
                    <div v-for="wc in deck.whiteCards" v-html="addNewlines(wc)"></div>
                </div>
            </div>
            <div v-if="tab === tabs.json">
                <div class="grid">
                    <div class="cell -4of12">
                        <div class="form">
                            <div class="form-group form-textarea" v-bind:class="{ 'form-error': inputError }">
                                <label for="load-json">Deck JSON</label>
                                <textarea v-model="inputJson" class="form-control" rows="10"></textarea>
                            </div>
                            <div class="form-actions">
                                <button v-on:click="loadJson()" class="btn btn-default btn-ghost btn-block">Load</button>
                            </div>
                        </div>
                    </div>
                    <div class="cell -8of12">
                        <pre>{{json}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/deck-builder.js"></script>