﻿@page "{id}"
@{
    ViewData["title"] = "THE GAME";
    var id = RouteData.Values["id"];
}
<div id="cah">
    <div v-if="state === states.joining" class="container">
        <h1>Joining the game</h1>
        <div class="grid">
            <div class="cell -6of12">
                <h2>And who might you be?</h2>
                <div class="form">
                    <fieldset class="form-group" v-bind:class="{ 'form-error': nameInvalid }">
                        <label for="nickname">Your nickname</label>
                        <input id="nickname" type="text" class="form-control" v-model="name" maxlength="20" />
                        <div class="help-block">How you will be known to the world</div>
                    </fieldset>
                    <button v-on:click="joinGame()" class="btn btn-default btn-ghost">Join game</button>
                    <p v-if="error">{{error}}</p>
                </div>
            </div>
            <div class="cell -6of12" style="user-select:none;">
                <pre>
                                          ,o88888 
                                       ,o8888888' 
                 ,:o:o:oooo.        ,8O88Pd8888" 
             ,.::.::o:ooooOoOoO. ,oO8O8Pd888'" 
           ,.:.::o:ooOoOoOO8O8OOo.8OOPd8O8O" 
          , ..:.::o:ooOoOOOO8OOOOo.FdO8O8" 
         , ..:.::o:ooOoOO8O888O8O,COCOO" 
        , . ..:.::o:ooOoOOOO8OOOOCOCO" 
         . ..:.::o:ooOoOoOO8O8OCCCC"o 
            . ..:.::o:ooooOoCoCCC"o:o 
            . ..:.::o:o:,cooooCo"oo:o: 
         `   . . ..:.:cocoooo"'o:o:::' 
         .`   . ..::ccccoc"'o:o:o:::' 
        :.:.    ,c:cccc"':.:.:.:.:.' 
      ..:.:"'`::::c:"'..:.:.:.:.:.' 
    ...:.'.:.::::"'    . . . . .' 
   .. . ....:."' `   .  . . '' 
 . . . ...."' 
 .. . ."'     <a href="http://chris.com/ascii/index.php?art=nature/astronomy">-hrr-</a>
. 
</pre>
            </div>
        </div>
    </div>
    <div v-if="state === states.waiting" class="container" style="text-align:center; padding-top: 100px;">
        <div style="position: relative;">
            <span class="loading" style="width: 300px; height: 300px;"></span>
            <span style="position:absolute; top: 45%; width: 33.3%; left: 33.3%">Waiting...</span>
        </div>
    </div>
    <div v-if="state === states.active" class="grid game-container full-height">
        <div class="cell -2of12 border side-bar full-height">
            <h2>{{roomName}}</h2>
            <h3>Player: {{name}}</h3>
            <div v-if="blackCard.pick" class="black-card">
                <div v-html="blackCard.text"></div>
                <span>{{blackCard.pick}}</span>
            </div>
            <ul>
                <li v-for="player in players">
                    <span v-bind:class="{czar: player.id === czar, 'done-selecting': player.doneSelecting}"> {{player.name}} - {{player.score}} points</span>
                </li>
            </ul>
            <button class="btn btn-default btn-ghost btn-block" v-if="canDiscardHand" v-on:click="discardHand()" style="margin-bottom: 15px;">Discard hand</button>
            <h3>Recent winning set</h3>
            <div v-if="previousWinner">
                <p>Player: {{previousWinner}}</p>
                <div v-if="previousBlackCard.pick" class="black-card">
                    <div v-html="previousBlackCard.text"></div>
                    <span>{{previousBlackCard.pick}}</span>
                </div>
                <div class="previous-card-container white-cards">
                    <div v-for="card in previousWhiteCards" class="player-card" v-on:click="deselect(card)" v-html="card.text"></div>
                </div>
            </div>
        </div>
        <div class="cell -10of12 full-height">
            <div class="border game-board" style="height: 80%;">
                <h2>Selected cards</h2>
                <h2 v-if="playerId === czar && revealedCards.length > 0">Pick the winner, oh mighty Czar!</h2>
                <div v-for="n in selectedCount" class="card-group card-container white-cards" style="margin-right: 10px;">
                    <div v-for="c in blackCard.pick"></div>
                </div>
                <div v-for="group in revealedCards" v-on:click="selectWinner(group)" class="card-group card-container white-cards" v-bind:class="{ selected: group.selected }" style="margin-right: 10px;">
                    <div v-for="card in group.selectedCards" v-html="card.text"></div>
                </div>
                <button v-on:click="confirmWinner()" class="btn btn-default btn-ghost" v-if="revealedCards.some(x => x.selected)" style="display: block;">Select winner</button>
                <div v-if="selectedCards.length" class="card-container white-cards" style="margin-right: 10px;">
                    <div v-for="card in selectedCards" class="player-card" v-on:click="deselect(card)" v-html="card.text"></div>
                </div>
                <button class="btn btn-default btn-ghost" v-if="selectedCards.length === blackCard.pick" v-on:click="confirmSelection()">Confirm selection</button>
                <div v-if="playerId !== czar && canSelect">
                    <h2>Your hand</h2>
                    <div class="card-container white-cards">
                        <div v-if="selectedCards.every(x => x.id != card.id)" v-on:click="select(card)" v-for="card in hand" class="player-card" v-html="card.text"></div>
                    </div>
                </div>
            </div>
            <div class="border chat-container" style="height: 17%;">
                <ul class="full-height" id="message-list">
                    <li v-for="msg in chat" v-bind:class="msg.messageType">{{msg.name}} ({{msg.time}}): <span v-html="msg.text"></span></li>
                </ul>
            </div>
            <div style="height: 3%">
                <input type="text" v-on:keyup.enter="sendMessage()" v-model="chatMessage" class="chat-box" placeholder="Type to chat, enter sends..." />
            </div>
        </div>
    </div>
    <div class="container" v-if="state === states.finished">
        <h1>Game finished</h1>
        <p>{{winner}} is the winner. Praised be their name!</p>
        <div v-if="previousBlackCard.pick" class="black-card">
            <div v-html="previousBlackCard.text"></div>
            <span>{{previousBlackCard.pick}}</span>
        </div>
        <div class="previous-card-container white-cards" style="text-align:center;">
            <div v-for="card in previousWhiteCards" class="player-card" v-on:click="deselect(card)" v-html="card.text" style="text-align:left; display: inline-block;"></div>
        </div>
        <a href="/">Back</a>
    </div>
    <div class="container" v-if="state === states.error">
        <h1>An error occured...</h1>
        <p>{{error}}</p>
        <a href="/">Abandon ship</a>
    </div>
</div>
<script type="text/javascript">
    gameId = '@id';
</script>
<script type="text/javascript" src="~/js/game.js"></script>
