﻿@page
@{
    ViewData["title"] = "Home";
}

<div id="cah" class="container flex-container">
    <div class="form-container">
        <h1>Cards of Spite</h1>
        <div class="grid">
            <div class="cell -6of12">
                <h2>Create game</h2>
                <div class="form">
                    <fieldset class="form-group" v-bind:class="{ 'form-error': gameNameInvalid }">
                        <label for="room-name">Room name</label>
                        <input id="room-name" type="text" class="form-control" v-model="gameName" maxlength="20" />
                        <div class="help-block">Like a real room, except not</div>
                    </fieldset>
                    <fieldset>
                        <label for="is-hidden">Hidden game</label>
                        <input id="is-hidden" type="checkbox" class="checkbox" v-model="isHidden" />
                        <div class="help-block">Will not show up there --></div>
                    </fieldset>
                    <fieldset class="form-group" v-bind:class="{ 'form-error': handSizeInvalid }">
                        <label for="hand-size">Hand size</label>
                        <input id="hand-size" type="number" class="form-control" v-model="handSize" />
                        <div class="help-block">Number of cards per player</div>
                    </fieldset>
                    <fieldset>
                        <label for="allow-discarding">Allow discarding</label>
                        <input id="allow-discarding" type="checkbox" class="checkbox" v-model="allowDiscarding" />
                        <div class="help-block">Discard whole hand for one Awesome Point</div>
                    </fieldset>
                    <fieldset class="form-group" v-bind:class="{ 'form-error': maxPointsInvalid }">
                        <label for="max-points">Max points</label>
                        <input id="max-points" type="number" class="form-control" v-model="maxPoints" />
                        <div class="help-block">Awesome points required to win</div>
                    </fieldset>
                    <fieldset class="form-group" v-bind:class="{ 'form-error': minPlayersInvalid }">
                        <label for="min-players">Min players</label>
                        <input id="min-players" type="number" class="form-control" v-model="minPlayers" />
                        <div class="help-block">Won't start the game without them</div>
                    </fieldset>
                    <div class="form-actions">
                        <button v-on:click="createGame()" class="btn btn-default btn-ghost">Create<span class="loading" v-if="creatingGame"></span></button>
                    </div>
                    <ul v-if="errors">
                        <li v-for="error in errors">{{error}}</li>
                    </ul>
                </div>
            </div>
            <div class="cell -6of12">
                <h2>Join game</h2>
                <p v-if="games.length === 0 && !gettingGames">No games found</p>
                <ul class="game-list">
                    <li v-for="game in games">
                        {{game.name}} ({{game.players}} players, {{game.queue}} in queue) <a v-bind:href="'/Game/' + game.id">join</a>
                    </li>
                </ul>
                <button class="btn btn-default btn-ghost" v-on:click="getGames();">Refresh<span class="loading" v-if="gettingGames"></span></button>
            </div>
            <div class="cell -12of12">
                <h2>Decks {{ selectedWhite || selectedBlack ? '(W: ' + selectedWhite + ', B: ' + selectedBlack + ')' : ''}}</h2>
                <span class="loading" v-if="gettingDecks"></span>
                <div class="grid deck-list">
                    <div class="cell -6of12">
                        <ul>
                            <template v-for="(deck, index) in decks">
                                <li v-if="index % 2 === 0" v-on:click="toggleSelection(deck)" v-bind:class="{ selected: deck.selected }">
                                    {{deck.name}} (W: {{deck.whiteCount}}, B: {{deck.blackCount}})
                                </li>
                            </template>
                        </ul>
                    </div>
                    <div class="cell -6of12">
                        <ul>
                            <li v-for="(deck, index) in decks" v-if="index % 2 === 1" v-on:click="toggleSelection(deck)" v-bind:class="{ selected: deck.selected }">
                                {{deck.name}} (W: {{deck.whiteCount}}, B: {{deck.blackCount}})
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-default btn-ghost" v-on:click="toggleAll()">Toggle selection</button>
                <button class="btn btn-default btn-ghost" v-on:click="selectAll()">Select all</button>
                <a href="/DeckBrowser" target="_blank">Deck browser</a>
                <a href="/DeckBuilder" target="_blank">Deck builder</a>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <p>Made with 🔥 in <a href="https://dot.net/core" target="_blank">ASP.NET Core 2.0</a>, <a href="https://hackcss.egoist.moe/" target="_blank">hack.css</a> and <a href="https://vuejs.org" target="_blank">Vue.js</a> by <a href="https://gitlab.com/Velorien_/CAH" target="_blank">Velorien</a>. Get the real thing <a target="_blank" href="https://cardsagainsthumanity.com/">here</a>!</p>
    </div>
</div>
<script type="text/javascript" src="~/js/welcome-screen.js"></script>
