﻿html, body, #cah {
    height: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-container {
    flex: 1 0 auto;
}

.footer-container {
    flex: 0 1 auto;
    align-self: center;
}

.game-list li {
    cursor: pointer;
}

    .game-list li:hover {
        color: white;
    }

.deck-list ul {
    margin-top: 0;
}

.deck-list li {
    cursor: pointer;
}

    .deck-list li:hover {
        color: white;
    }

.deck-list .selected {
    color: white;
    font-weight: bold;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    .card-container > div, .black-card, .previous-card-container > div {
        height: 175px;
        width: 175px;
        border: 1px solid #ccc;
        border-radius: 5px 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 5px;
    }

    .previous-card-container > div {
        margin-right: auto;
        margin-left: auto;
    }

.black-cards > div, .black-card {
    position: relative;
}

.black-card {
    margin-left: auto;
    margin-right: auto;
}

.black-cards span, .black-card span {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
    text-align: center;
    color: black;
    bottom: 5px;
    right: 5px;
    line-height: 16px;
}

.white-cards div {
    color: black;
    background-color: #ccc;
}

.card-list h2 {
    display: inline-block;
    cursor: pointer;
}

.white {
    color: white;
}

.loading {
    border: 2px solid red !important;
    border-right-color: transparent !important;
}

a {
    color: red !important;
    border-bottom: 1px solid red !important;
}

a:hover {
    background-color: red !important;
    color: white !important;
}

.border {
    border: 2px solid #ccc;
}

.full-height {
    height: 100%;
}

.chat-container ul {
    overflow-y: scroll;
    margin: 0 !important;
}

.chat-container .error {
    color: red;
    font-weight: bold;
}

.chat-container .info {
    color: white;
    font-weight: bold;
}

.chat-box {
    height: 100%;
    width: 100%;
    background-color: black;
    color: #ccc;
}

.game-board {
    padding: 10px;
    overflow-y: scroll;
}

.side-bar {
    padding: 10px;
    overflow-y: scroll;
}

.czar {
    color: white;
    font-weight: bold;
}

    .czar::before {
        content: '👑';
    }

.done-selecting::before {
    content: '✅';
}

.card-group {
    display: inline-flex;
}

.card-group:hover div, .player-card:hover, .card-group.selected div {
    background-color: white;
}

.checkbox {
    float: right;
    height: 14px;
    width: 14px;
}